---
search: false
---

@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

$sans-serif: "Inter", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$sans-serif-narrow: $sans-serif !default;

$global-font-family: $sans-serif !default;
$header-font-family: $sans-serif !default;
$caption-font-family: $sans-serif !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
